[Unit]
Description=IoD API bridge daemon
After=syslog.target network.target

[Service]
Type=simple
User=flipdot
WorkingDirectory=/home/flipdot/iod/iod-api-bridge
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/flipdot/iod/iod-api-bridge/iod-api-bridge.py
RestartSec=3

[Install]
WantedBy=multi-user.target
